.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.Nav-header {
  font-size: 1.0em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* Set a style for all buttons */
button {
  margin-right: 8px;
}


.content {
  clear: both;
  position: relative;
  background-color: greenyellow;
  overflow-y: hidden;
  height: calc(100vh - 285px);
  max-height: calc(100vh - 285px);

  display: flex;
  flex-direction: column;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
  z-index: 10;
}

.scriptBrowser {
  overflow-y: scroll;
}

.tabbedEditor {
  position:relative;
  width: inherit;
  background-color: #77ee77;

  flex: 1 0 auto;
  display: flex;
  flex-flow: column;
}

.react-tabs {
  position:relative;
  flex: 1 1 auto;
  display: flex;
  flex-flow: column;
}

.react-tabs__tab-panel {
  width: 100%;
  overflow-y: hidden;
  flex: 1 1 auto;
  display: flex;
  flex-flow: column;
}

react-tabs__tab-panel-hidden {
  width: 0;
  height: 0;
}

.ReactCodeMirror {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column;
  /*overflow-y: scroll;*/
  display: flex;
  flex-flow: column;
}

.CodeMirror {
  flex: 1 0 auto;
  z-index: 5;
  display: flex;
  flex-flow: column;
}

.CodeMirror-scroll {
  flex: 1 0 auto;
  overflow-y: scroll;
  overflow-x: auto;
  display: flex;
  flex-flow: column;
}

.editor {
  background-color: red;
  flex: 1 1 auto;
  display: flex;
  flex-flow: column;
}

.deploymentEditor {
  width: 100%;
  overflow-y: scroll;
}

.deploymentEditorRoot {
}


